body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
background-image: url("assets/sun-fireball-solar-flare-sunlight-87611.jpeg");
  background-size: cover;
  background-position: center;
 background-repeat: no-repeat;
 transition: all 0.4s cubic-bezier(0.08, 0.4, 0.63, 0.99);

}

.bck-color-black {
  /* background-color: black; */
  background-image: url("assets/full-moon-moon-bright-sky-47367.jpeg");
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat;

}

.color-white {
  color: white;
}

.container {
  text-align: center;
  margin-top: 50px;
}
svg{
  width: 29px;
  height: 30px;
  display: inline;
  margin: 9px;

}


.dark-mode {
  /* background-color: white;   */
    background-image: url("assets/sun-fireball-solar-flare-sunlight-87611.jpeg");
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;

}


.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#333;
  transition: .4s ease;
  border-radius: 34px;


}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 7px;
  bottom: 4px;
  background-color: #f1f1f1;
  transition: 0.4s ease;
  border-radius: 50%;
}


input:checked + .slider:before {
  transform: translateX(46px);
}

